:root {
    --bg-color: #2C3E50;
    --text-color: #f0f0f0;
    --accent-color: rgb(22, 160, 133);
    --accent1-color: #1ABC9C;
    /* цвет, похожий на желтый из pubg */
    --panel-bg: #34495E;
    --grey: #95A5A6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
    background: var(--bg-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;

}

.button-test {
    display: flex;
    align-items: center;
    /* Центр по вертикали */
    justify-content: center;
    /* Центр по горизонтали */
    position: absolute;
    /* Кладем слой поверх фона */
    bottom: 23em;
    left: 23em;
    width: 100%;
    /* Обязательно: растягиваем на всю ширину */
    height: 100vh;
    /* Растягиваем на всю высоту */

}

.change-page-home {
    border-radius: 2.5rem;
    background-color: var(--accent-color);
    border: 2px solid var(--accent1-color);
    position: absolute;


}

#ex-button a {
    /* 1. убираем подчеркивание */
    text-decoration: none;
    /* 2. цвет текста (например, белый или черный) */
    background: linear-gradient(135deg, #1e2b3c, #0f2a38);
    color: transparent;
    /* 3. цвет фона кнопки */
    background-color: var(--accent-color);
    background-clip: text;
    /* 4. важно для тега <a>, чтобы отступы работали корректно */
    display: inline-block;
    align-items: end;
    /* остальные твои стили */
    padding: 10px 30px;

    font-weight: bold;
    border-radius: 10px;
    transition: opacity 0.2s;
    font-size: 1rem;

}

#ex-button:hover {
    opacity: 0.8;
    color: #272323;
    /* чтобы цвет текста не менялся на стандартный синий */
}

.text-menu {
    display: flex;
    flex-direction: column;
    height: auto;
}

h1 {
    background: linear-gradient(135deg, #1e2b3c, #0f2a38);
    color: transparent;
    background-color: var(--accent1-color);
    background-clip: text;
}

h2 {
    background: linear-gradient(135deg, #1e2b3c, #0f2a38);
    color: transparent;
    background-color: var(--accent1-color);
    background-clip: text;
}

.questionbox {
    display: flex;
    border-radius: 2.5rem;
    background-color: var(--accent-color);
    border: 2px solid var(--accent1-color);

}

.answerbox {
    display: flex;
    border-radius: 2.5rem;
    background-color: var(--accent-color);
    border: 2px solid var(--accent1-color);

}